__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.log
*.sqlite3
*.db

.venv/
venv/
ENV/
env/

.vscode/
.idea/

.jupyter/
.gunicorn/
research/notebooks/
.ipynb_checkpoints/

.env
.env.*
.env.wsgi

build/
dist/

*.ipynb
